/*

Custom syntax highlighting

*/


/*
gray: #2C313E,
purple: #60569C,
green: #5C6443,
yellow: #DAC935,
offwhite: #EBECF0
*/


.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: $backgroundColorAlt;
  color: rgba($mainColor, .6);
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-tag {
  color: mix($shadowColorAlt, $mainColor, 30%);
}

.hljs-template-tag {
  color: mix($shadowColor, $mainColor, 30%);
}

.hljs-number {
  color: mix($shadowColorAlt, $mainColor, 20%);
}

.hljs-variable,
.hljs-template-variable,
.hljs-attribute {
  color: #afc1d3;
}

.hljs-literal {
  color: mix($shadowColor, $mainColor, 20%);
}

.hljs-subst {
  color: mix($shadowColorAlt, $mainColor, 20%);
}

.hljs-title,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-section,
.hljs-type {
  color: mix($shadowColor, $mainColor, 20%);
}

.hljs-symbol,
.hljs-bullet,
.hljs-link {
  color: mix($shadowColorAlt, $mainColor, 20%);
}

.hljs-deletion,
.hljs-string,
.hljs-built_in,
.hljs-builtin-name {
  color: mix($shadowColorAlt, $mainColor, 12.5%);
}

.hljs-addition,
.hljs-comment,
.hljs-quote,
.hljs-meta {
  color: rgba($mainColor, .4);
}


.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
